.validated-field .validation-errors {
	display:none;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #C00;
	margin-bottom: 10px;
}

.validated-select { width: 200px; }
.validation-type { display: none; }